.app-layout-grid {
  display: grid;
  grid-template-columns: 25rem 1fr 30rem;
  grid-template-rows: 5rem 1fr;
  grid-template-areas:
    "app-layout-context-bar app-layout-context-bar app-layout-context-bar"
    "app-layout-menu app-layout-main-content app-layout-side-panel"
}

.app-layout-context-bar {
  grid-area: app-layout-context-bar;
}

.app-layout-menu {
  grid-area: app-layout-menu;
}

.app-layout-side-panel {
  grid-area: app-layout-side-panel;
}

.app-layout-main-content {
  grid-area: app-layout-main-content;
}
